<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tipket.app">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Google maps permissions -->
    <uses-permission android:name="com.tipket.app.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- End of Google maps permissions -->


    <!-- Push notifications permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.tipket.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tipket.app.permission.C2D_MESSAGE" />
    <!-- End of Push notifications permissions -->

    <application
        android:name="com.tipket.app.TipketApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:debuggable="false">

        <!-- Google maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBIS1LwPxroUvARwJNUSjmaYedQ7r90D3c" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- End Google maps -->

        <activity
            android:name="com.tipket.app.MainActivity"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tipket.app.DispatchActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tipket.app.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.tipket.app.PreLaunchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tipket.app.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="com.tipket.app.PreLaunchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tipket.app.TipInPlaceActivity"
            android:label="@string/title_activity_tip"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.ProductDetail"
            android:label="@string/title_activity_product_detail"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.UserProfile"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.UserProfile2"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/app_id" />
        </activity>
        <activity
            android:name="com.tipket.app.MapViewActivity"
            android:label="@string/title_activity_map_view"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.FollowingActivity"
            android:label="@string/title_activity_following"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.TipNotInPlaceActivity"
            android:label="@string/title_activity_tip_not_in_place"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.MerchantProfile"
            android:label="@string/title_activity_merchant_profile"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.MerchantProfile2"
            android:label="@string/title_activity_merchant_profile"
            android:parentActivityName="com.tipket.app.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.tipket.app.PreLaunchActivity"
            android:label="@string/title_activity_pre_launch"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tipket.app.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="com.tipket.app.SearchUsersActivity"
            android:label="@string/title_activity_following"
            android:parentActivityName="com.tipket.app.SearchActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="SearchUsersActivity" />
        </activity>




        <!-- Push notifications -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.tipket.app" />
            </intent-filter>
        </receiver>
        <!-- End of Push notifications -->

    </application>

</manifest>
